<div class="row">
    <div class="col-md-2">
        <app-menu-list></app-menu-list>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <app-header></app-header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <app-benefice-restaurant></app-benefice-restaurant>
            </div>
            <div class="col-md-4">
                <app-plats-insert></app-plats-insert>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
    </div>
<app-footer></app-footer>
