<div class="bd">
    <h1>List of deliverers</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Name</th>
          <th scope="col">Mail</th>
          <th scope="col">Tel</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livreur of livreurs.value">
          <th scope="row">{{ livreur._id }}</th>
          <td>{{ livreur.nom }}</td>
          <td>{{ livreur.mail }}</td>
          <td>{{ livreur.phone }}</td>
          <td>{{ livreur.etat }}</td>
          <td><button class="product__btn btn" (click)="onAivalable()">Aivalable</button></td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Andrianaina Henintsoa</td>
            <td>andrianaina@gmail.com</td>
            <td>0340000000</td>
            <td>Available</td>
            <td><a href="#" class="product2__btn btn">Not Aivalable</a></td>
          </tr>      
      </tbody>
    </table>
  </div>
  