<div class="bd">
  <h1>List of commands</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Plat</th>
        <th scope="col">Quantite</th>
        <th scope="col">Date Commande</th>
        <th scope="col">Date Livraison</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Burger</td>
        <td>3</td>
        <td>12-03-22</td>
        <td>13-03-22</td>
        <td><a href="#" class="product__btn btn">Accept</a></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Burger</td>
        <td>3</td>
        <td>12-03-22</td>
        <td>13-03-22</td>
        <td><a href="#" class="product__btn btn">Accept</a></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Burger</td>
        <td>3</td>
        <td>12-03-22</td>
        <td>13-03-22</td>
        <td><a href="#" class="product__btn btn">Accept</a></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Burger</td>
        <td>3</td>
        <td>12-03-22</td>
        <td>13-03-22</td>
        <td><a href="#" class="product__btn btn">Accept</a></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Burger</td>
        <td>3</td>
        <td>12-03-22</td>
        <td>13-03-22</td>
        <td><a href="#" class="product__btn btn">Accept</a></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Burger</td>
        <td>3</td>
        <td>12-03-22</td>
        <td>13-03-22</td>
        <td><a href="#" class="product__btn btn">Accept</a></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Burger</td>
        <td>3</td>
        <td>12-03-22</td>
        <td>13-03-22</td>
        <td><a href="#" class="product__btn btn">Accept</a></td>
      </tr>
      
    </tbody>
  </table>
</div>
