<div class="card">
    <form action="action_page.php" method="post">
      <h2>New products</h2>
        <div class="container">
          <label for="nom"><b>Name</b></label>
          <input type="text" placeholder="Enter Name" name="nom" required>
      
          <label for="prixachat"><b>Buying price</b></label>
          <input type="number" placeholder="Enter buying price" name="prixachat" required>
            
          <label for="prixdeventerestaurant"><b>Restaurant sale price</b></label>
          <input type="number" placeholder="Enter restaurant sale price" name="prixdeventerestaurant" required>

          <label for="prixdeventeekaly"><b>E-kaly sale price</b></label>
          <input type="number" placeholder="Enter e-kaly sale price" name="prixdeventeekaly" required>

          <label for="image"><b>Picture</b></label>
          <input type="text" placeholder="Enter image" name="image" required>

          <button type="submit">Add product</button>
        </div>
    </form>
</div>