<div class="card">
    <form #f="ngForm" (ngSubmit)="addProduct(f)" method="post">
      <h2>New products</h2>
        <div class="container">
          <label for="nom"><b>Name</b></label>
          <input type="text" placeholder="Enter Name" name="nom" required ngModel>
      
          <label for="prixDAchat"><b>Buying price</b></label>
          <input type="number" placeholder="Enter buying price" name="prixDAchat" required ngModel>
            
          <label for="prixDeVenteRestaurant"><b>Restaurant sale price</b></label>
          <input type="number" placeholder="Enter restaurant sale price" name="prixDeVenteRestaurant" required ngModel>

          <label for="prixDeVenteEkaly"><b>E-kaly sale price</b></label>
          <input type="number" placeholder="Enter e-kaly sale price" name="prixDeVenteEkaly" required ngModel>

          <button type="submit">Add product</button>
        </div>
    </form>
</div>