$black: #000;
$accent: #fd7e14;
$time: 0.3s;
$easing: cubic-bezier(0.4, 0, 0.2, 1);

@mixin shadow {
    box-shadow: 0 30px 25px -20px rgba($black, 0.15);
  }
  
  @mixin shadow-dark {
    box-shadow: 0 36px 28px -20px rgba($black, 0.20);
  }

.bd{
  width:100%;
}

.table{
  width:100%;
}
