<div class="bd">
    <h1>List of products and benefits</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Plat</th>
          <th scope="col">Buying price</th>
          <th scope="col">Sale price</th>
          <th scope="col">E-kaly price</th>
          <th scope="col">Benefit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Burger</td>
          <td>$500</td>
          <td>$600</td>
          <td>$700</td>
          <td>$100</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Burger</td>
            <td>$500</td>
            <td>$600</td>
            <td>$700</td>
            <td>$100</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Burger</td>
            <td>$500</td>
            <td>$600</td>
            <td>$700</td>
            <td>$100</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Burger</td>
            <td>$500</td>
            <td>$600</td>
            <td>$700</td>
            <td>$100</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Burger</td>
            <td>$500</td>
            <td>$600</td>
            <td>$700</td>
            <td>$100</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Burger</td>
            <td>$500</td>
            <td>$600</td>
            <td>$700</td>
            <td>$100</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Burger</td>
            <td>$500</td>
            <td>$600</td>
            <td>$700</td>
            <td>$100</td>
          </tr>
      </tbody>
    </table>
  </div>
  