<div class="row">
    <div class="col-md-2">
        <app-menu-list></app-menu-list>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <app-header></app-header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                
<div class="bd">
    <div class="card">
    <form action="action_page.php" method="post">
      <h2>Add delivery man</h2>
        <div class="container">
          <label for="nomlivreur"><b>Name</b></label>
          <input type="text" placeholder="Enter Username" name="nomlivreur" required>
          <button type="submit">Delivery</button>
        </div>
    </form>
    </div>
    </div>

            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    </div>
<app-footer></app-footer>
