<div class="bd">
    <h1>List of commands</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Client name</th>
          <th scope="col">Date time command</th>
          <th scope="col">Date time delivery</th>
          <th scope="col">Delivery address</th>
          <th scope="col">Delivery man</th>
          <th scope="col">Order status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Andrianaina Henintsoa</td>
          <td>12-03-22 12:00</td>
          <td>12-03-22 14:00</td>
          <td>Lot IPJ 17 Ibis Ambonisoa</td>
          <td>Jeremia</td>
          <td>Out for delivery</td>
          <td></td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Andrianaina Henintsoa</td>
            <td>12-03-22 12:00</td>
            <td>12-03-22 14:00</td>
            <td>Lot IPJ 17 Ibis Ambonisoa</td>
            <td></td>
            <td>In preparation</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Andrianaina Henintsoa</td>
            <td>12-03-22 12:00</td>
            <td>12-03-22 14:00</td>
            <td>Lot IPJ 17 Ibis Ambonisoa</td>
            <td></td>
            <td>We can deliver</td>
            <td><a href="#" class="product__btn btn">delivered</a></td>
          </tr>      
      </tbody>
    </table>
  </div>
  