<div class="bd">
    <h1>List of commande details</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Restaurant</th>
          <th scope="col">Product</th>
          <th scope="col">Amount</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Extra Pizza</td>
          <td>Burger</td>
          <td>3</td>
          <td>In preparation</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Extra Pizza</td>
            <td>Burger</td>
            <td>3</td>
            <td>We can deliver</td>
          </tr>
        <tr>      
      </tbody>
    </table>
  </div>
  